<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%page args="section_data"/>
<section id="invalidate_registration_code_modal" class="modal" role="dialog" tabindex="-1" aria-label="${_('Registration Code Status')}">
  <div class="inner-wrapper">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_('Close')}
      </span>
    </button>

    <div id="regcode-content">
      <header>
        <h2>${_("Registration Code Status")}</h2>
      </header>

      <div class="instructions">
        <p>
          ${_("Update Registration Code Information")}</p>
      </div>
      <form id="set_regcode_status_form">
        <div id="regcode_status_form_error" class="modal-form-error"></div>
        <fieldset class="group group-form group-form-requiredinformation">
          <legend class="is-hidden">${_("Required Information")}</legend>

          <ol class="list-input">
            <li class="field required text" id="set-course-mode-modal-field-price">
              <label for="regcode_code" class="required">${_("Registration Code")}</label>
              <input class="field" id="regcode_code" type="text" name="regcode_code" placeholder="Enter Registration Code" aria-required="true">
            </li>
          </ol>
        </fieldset>
        <div class="submit">
          <input name="submit" type="button" id="lookup_regcode" value="${_('Lookup Registration Code')}"/>
        </div>
        <table style="width: 100%; color: #555;">
          <thead>
            <th>Code</th>
            <th>Redeemed</th>
            <th>Value</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr>
              <td>8797y7</td>
              <td>T/F</td>
              <td>T/F</td>
              <td><a href="#">Mark as Valid/invalid</a><a href="#">Mark as Unredeemed</a></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</section>
